{% extends "base.html.jinja" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="important">
                    Cześć, jestem Kamila
                </h1>
            </div>
            <div class="col-3">
                <img src="/static/plots/ja.jpg" class="img-fluid rounded" alt="Author">
            </div>
        </div>
    </div>
{% endblock %}