{% extends "base.html.jinja" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="important">
                    Cześć, jestem Kamila Kapinos
                </h1>
                <p>Kierunek: Informatyka Stosowana </p>
                <p>Grupa dziekańska: ZZISS1-1211</p>
            </div>
            <div class="col-3">
                <img src="ja.jpg" class="img-fluid rounded" alt="Author">
            </div>
        </div>
    </div>
{% endblock %}