{% extends "base.html.jinja" %}
{% block content %}
    <h2>Lista produktów</h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Produkt</th>
        <th scope="col">Ilość Opinii</th>
        <th scope="col">Średnia</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="{{url_for('product', product_id=product.id)}}">{{product.name}}</a></td>
            <td>{{product.opinions_count}}</td>
            <td>{{product.average_score}}</td>
            <td><a href="{{url_for('open', product_id=product.id)}}">Pobierz opinie</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}